
nav{
    height: 60px;
    background-color:#17181C;
    text-align: center;
  }

   ul{
     list-style: none;
     display: inline-block;
     padding:18px;
  }

   ul li{
      float: left;
      margin-top: 20px;
  }

   ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 18px;
  }

   ul li a:hover{
    background-color: #929fb3;
  }